src/flows/Create_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>vProduct</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Software - RX Licence</stringValue>
        </value>
    </constants>
    <constants>
        <name>vStage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Proposal</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Existing</name>
        <label>Check Existing</label>
        <locationX>416</locationX>
        <locationY>239</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListExistingLicences</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateOppName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Opportunity</targetReference>
            </connector>
            <label>Duplicate Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountNames</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vClientName</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListExistingLicences</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Software - RX Licence</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CalcClient</name>
        <dataType>String</dataType>
        <expression>CASE ({!vClientName},
&quot;0011t000008UxIaAAK&quot;, &quot;AWB&quot;,
&quot;0011t000008UEqkAAG&quot;, &quot;BWB&quot;,
&quot;0011t000008UbwCAAS&quot;, &quot;DCC&quot;,
&quot;0011t00000vKcTVAA0&quot;, &quot;LEE&quot;, 
&quot;0011t000008UErJAAW&quot;, &quot;HPW&quot;, 
&quot;0011t000008UErYAAW&quot;, &quot;NIW&quot;, 
&quot;0011t000008Ubx9AAC&quot;, &quot;PEN&quot;,
&quot;0011t000008UExWAAW&quot;, &quot;PWL&quot;,
&quot;0011t000008UbqqAAC&quot;, &quot;SSW&quot;,
&quot;0011t000008UbvDAAS&quot;, &quot;SWW&quot;,
&quot;0011t000008UbxOAAS&quot;, &quot;W2B&quot;,
&quot;0011t000008UbxnAAC&quot;, &quot;YWB&quot;,
&quot;NA&quot;)</expression>
    </formulas>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression> TODAY()  + 60</expression>
    </formulas>
    <formulas>
        <name>CreateOppName</name>
        <dataType>String</dataType>
        <expression>{!vLicenceLabel} &amp; &quot; &quot; &amp; {!CalcClient}</expression>
    </formulas>
    <interviewLabel>Create Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Licence_Opp</name>
        <label>Create Licence Opp</label>
        <locationX>1073</locationX>
        <locationY>57</locationY>
        <assignRecordIdToReference>vOpp</assignRecordIdToReference>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vClientName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CreateOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_product__c</field>
            <value>
                <elementReference>vProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RX_licence__c</field>
            <value>
                <elementReference>vLicenceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>vStage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Opps</name>
        <label>Get Opps</label>
        <locationX>488</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Licence_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Software - RX Licence</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>vAllLicences</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetLicenceInfo</name>
        <label>GetLicenceInfo</label>
        <locationX>122</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <object>RX_licence__c</object>
        <outputAssignments>
            <assignToReference>vLicenceName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Add_Opportunity_Data</name>
        <label>Add Opportunity Data</label>
        <locationX>319</locationX>
        <locationY>65</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opps</targetReference>
        </connector>
        <fields>
            <name>Client1</name>
            <choiceReferences>AccountNames</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Client</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1078</locationX>
        <locationY>302</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>c1</name>
            <fieldText>&lt;p&gt;RX Licence Opportunity has now been created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click the link below to view the new opportunity just created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>d3</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://eu16.lightning.force.com/lightning/r/Opportunity/{!vOpp}/view&quot; target=&quot;_blank&quot;&gt;View New Opportunity&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Opp_ID</name>
            <fieldText>&lt;p&gt;Opportunity ID = {!vOpp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Opportunity</name>
        <label>Duplicate Opportunity</label>
        <locationX>734</locationX>
        <locationY>273</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>d1</name>
            <fieldText>&lt;p&gt;Duplicate Opportunity for the {!vLicenceLabel} Licence for {!CalcClient}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://eu16.lightning.force.com/lightning/o/Opportunity/list?filterName=00B1t000006PUspEAG&quot; target=&quot;_blank&quot;&gt;Click here to find original Opportunity&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test_Variables</name>
        <label>Test Variables</label>
        <locationX>541</locationX>
        <locationY>347</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OppName</name>
            <fieldText>&lt;p&gt;{!CreateOppName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ClientName</name>
            <fieldText>&lt;p&gt;{!Client1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage</name>
            <fieldText>&lt;p&gt;{!vStage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CloseDate3</name>
            <fieldText>&lt;p&gt;{!CloseDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dispt</name>
            <fieldText>&lt;p&gt;{!CalcClient}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dname</name>
            <fieldText>&lt;p&gt;{!vLicenceName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>d443</name>
            <fieldText>&lt;p&gt;{!vClientName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Add_Opportunity_Data</startElementReference>
    <status>Active</status>
    <variables>
        <name>vAllLicences</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>vClientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLicenceLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLicenceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Not Assigned</stringValue>
        </value>
    </variables>
    <variables>
        <name>vOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
